@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
}

body {
    font-family: Roboto !important;
}


/* ------------------- Header (Cabeçalho) ------------------- */

header {
    background-color: #000000;
}

#background {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imagens/Imagem-fundo.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.7;
}

#background2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#background2 h3,
#background2 h5 {
    color: #ffffff;
}

#fundo {
    width: 180px;
    height: 180px;
}

.icones {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.botoes a {
    margin-top: 20px;
    width: 180px;
    height: 45px;
    color: #ffffff;
    font-size: 1.2rem;
}

.botoes a:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: solid 1px rgba(255, 255, 255, 0.3) !important;
}

.botoes a:nth-child(2) {
    margin-left: 15px !important;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
    border: none;
}

#mouse {
    width: 35px;
    height: 60px;
    position: absolute;
    right: 3%;
    bottom: 3%;
    animation: mexer 1s infinite;
}

@keyframes mexer {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}


/* ------------------- Sessão Sobre ------------------- */

#sobre,
#habilidades {
    border: solid 2px #C4C4C4;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.titulo {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.titulo img {
    padding-left: 5px;
}

.titulo h2 {
    font-weight: 800;
}

#sobre h5 {
    color: #00BFFF;
    font-weight: bold;
}

.barra {
    margin-top: 30px !important;
    height: 5px !important;
}

table tr td:nth-child(1) {
    font-weight: bold !important;
}


/* ------------------- Sessão Habilidades ------------------- */

.margem {
    margin-left: 20px !important;
}

.janela {
    border: solid 1px #C4C4C4;
    height: 80%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #C4C4C4;
}


/* Bolinhas do navegador */

.bolinhas {
    height: 55px;
    background-color: #C4C4C4;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
}

.bolinhas span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.bolinhas span:nth-child(1) {
    background-color: #F44336;
}

.bolinhas span:nth-child(2) {
    background-color: #FFD966;
}

.bolinhas span:nth-child(3) {
    background-color: #6AA84F;
}


/* Linguagens utilizadas */

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.item img {
    margin-right: 15px;
    margin-bottom: 15px;
}

.progresso {
    width: 90%;
    text-transform: uppercase;
}

.progress {
    box-shadow: 3px 3px 3px #C4C4C4;
}

.progress-bar {
    border-radius: 5px !important;
}